body{
  font-family: 'Open Sans', sans-serif;
  background-color: pink;
}
.text_white{
  color: #ffffff;
}
.bg_gray{
background-color: #FAFAFA;
}
.container{
  background-color: #ffffff;
}
.header_top{
  height: 70px;
  line-height: 70px;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 2;
}
.logo_nav{
  height: 12px;
}
.first_nav,
.second_nav{
  display: inline-block;
}
.first_nav li a,
.second_nav li button,
.second_nav li a{
  text-decoration: none;
  font-size: 10px;
  font-weight: 600;
  word-spacing: 3px;
  letter-spacing: 1.5px;
  color: #000;
}
.first_nav li a{
  margin-right: 25px;
}
.second_nav li button{
  margin-left: 30px;
  display: inline-block;
}
.second_nav li a{
  color: #ffffff;
  font-size: 13px;
  word-spacing: normal;
  background-color: #000;
  padding: 10px 22px;
}
.btn{
  border-radius: 0;
}
.btn:hover{
  color: #ffffff;
}
button.lang{
  border: none;
  background-color: transparent;
  border-left: 1px solid #9b9b9b;
  border-right: 1px solid #9b9b9b;
  line-height: normal;
}
.angle_down{
  color: #9b9b9b;
  margin: 0 3px;
}
.hamb_menu{
  display: inline-block;
  font-size: 20px;
  color: #9b9b9b;
}
.container.hero{
  margin-top: 100px;
  /* background-color: lightgreen; */
  padding-bottom: 70px;
}
h1{
  font-size: 100px;
  font-weight: bold;
  color: #000;
}
.hero_img{
  width: 100%;
}
div.product{
  padding: 60px 15px 50px 15px;
  background-color: #FAFAFA;
  margin-bottom: 30px;
}
img.helbiz_go_logo{
  height: 20px;
  display: inline-block;
}
a.learn{
  display: block;
}
h2{
  font-size: 18px;
  padding: 20px 0;
  line-height: 1.5;
}
img.mono_pattino,
img.mono_bike{
  max-height: 300px;
  padding-top: 25px;
  width: 100%;
}
img.mono_vespa{
  max-height: 270px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.box{
  height: 200px;
  width: calc((100% / 3) - 4px);
  background-color: red;
  display: inline-block;
}
.box_1{
  background-color: yellow;
}
@media screen and (max-width: 1199px) {
 h1{
   font-size: 80px;
 }
 img.mono_vespa{
   max-height: 250px;
   padding-top: 5px;
   padding-bottom: 10px;
 }
}
@media screen and (max-width: 992px) {
 h1{
   font-size: 66px;
 }
 img.mono_pattino,
 img.mono_bike{
   max-height: 300px;
   padding-top: 25px;
   width:auto;
 }
}
@media screen and (max-width: 420px) {
 h1{
   font-size: 50px;
 }
}
